@charset "utf-8";
.fis_red {
    color: red;
}
.fis table {
    margin-top: 10px;
    margin-bottom: 10px;
}
.fis table th {
  text-align: right !important;
  min-width: 75px;
  max-width: 22%;
}
.fis table th:first-child {
  text-align: left !important;
  min-width: 100px;
  max-width: 12%;
  padding-left: 10px;
}
.fis table td {
  padding: 5px;
  margin: 5px;
  text-align: right;
}
.plain table {
  margin-top: 0px;
  margin-bottom: 0px;
}
.plain table th{
  text-align: right !important;
  min-width: 100px;
  max-width: 20%;
}
.plain table td {
  padding: 0px;
  margin: 5px;
  text-align: right !important;
}
